
@media (max-width: 767.98px) { 
    nav.active{
        width: 100%;
        top: 0;
        left: 0;
    }
    #bannar h5{
        padding:100px 0px 14px 0px;
       font-size: 18px;
       font-weight: 600;
    line-height: 28px;
    }
    #bannar h2{
   
        font-size: 54px;
        font-weight: 700;
        line-height: 74px;
    }
    #beauty .row {
        margin-top: 50px;
        
    }
    #beauty .row .image .contains h3{
        color:  rgba(255, 255, 255, 1);
        font-size: 20px;
      
    }
    #beauty .row img{
        width: 100%; 
    }
    #product h2{
        padding: 50px 0px 24px 0px;
    
       font-weight: 700;
       font-size: 30px;
      line-height: 128%;
    text-align: center;
    color: var(--text-color);
    }
    #product .productSlider .sliderPart{
        padding-right: 0px;
    }
    #cosmaticSpa{
        margin-top: 50px;
    }
    #cosmaticSpa >*{
        text-align: center;
    }
    #best-product .row .test{
        /* width: calc(100%-24px);
        margin-right: 12px; */
      
        margin-bottom: 20px; */
    }
}


/* 
          <!-- when i hover then genarate icon  "add to cart" --> and responsive */
