*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
:root{
    --text-color:#11161E;
    --hover-color:#FF6F61;
}
body{
    font-family: "Josefin Sans", sans-serif;
    color: var(--text-color);

}


/* Nav start */
nav{
    background-color: #fff !important;
}
nav ul li a{
    display: inline-block;
    padding: 0 21px !important;
    color: var(--text-color) !important;
    font-size: 16px !important;
   font-weight: 400 !important;
   line-height: 26px !important;

}
nav ul li a:hover{
    color: var(--hover-color) !important;

}
nav .navbar-toggler span{
    border: none;
    display: inline-block;
    font-size: 30px;
}
nav .navbar-togglers span:active{
    /* border:1px solid var(--hover-color); */
    border: none;
}
nav .nav-icon li a{
    padding: 0 10px !important;
    color: var(--text-color);
    position: relative;
}

nav .nav-icon li:nth-of-type(4) a span{
    display: inline-block;
    color: #fff;
    height: 15px;
    width: 15px;
    background-color: var(--hover-color);
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    font-size: 14px;
}
.offcanvas-body ul li{
 border-radius: 20px;

}
.offcanvas-body ul li:hover{
    background-color: var(--hover-color);
    /* border-radius: 20px; */
    /* width: 100%; */
}
.offcanvas-body {
    position: relative;
}
.offcanvas-body .icons{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.offcanvas-body .icons ul{
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 26px !important;
    color: var(--text-color);
    
}
.offcanvas-body .icons ul:hover{
   background-color: var(--hover-color);
}
.offcanvas-body .icons ul li {
   position: relative;
}
.offcanvas-body .icons ul li:nth-of-type(4) a span{
    display: inline-block;
    color: #fff;
    height: 15px;
    width: 15px;
    background-color: var(--hover-color);
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    position: absolute;
    right: -60%;
    font-size: 14px;
}
/* searchInput start */
.search-body{
    /* background-image: url(./background/Mask\ Here.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.888);
    position: fixed;
    width:100%;
    top:0;
    left: 0;
    visibility: hidden; 
    transform: scaleX(0);
    transition: 0.5s;
    opacity: 0;
}
.search-body.active{
    visibility: visible; 
    transform: scaleX(1);
    opacity: 1;
    
}
.search-body form{
    max-width: 500px;
    width: 100%;
    padding: 30px;
    padding:20px 20px ;
}
.search-body .content{
    max-width: 550px;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: wheat; */
    border-radius: 30px;
    padding: 10px;
    background-color: rgba(28, 41, 63, 1);
    color:rgba(255, 255, 255, 1);
    

}
            
.search-body .content #cross_searchInput{
   display: inline-block;
   height: 30px;
   width: 30px;
   font-size: 12px;
   text-align: center;
   line-height: 30px;
   border-radius: 50%;
   
}
.search-body .content #cross_searchInput:hover{
   font-size: 15px;
   color: #FF6F61;
}
.search-body .content:hover{
    outline: 5px solid #becaf6;
}
              
.search-body .content span{
    display: inline-block;
    /* width: 10%; */
    font-size: 25px;
    margin-right: 5px;
    text-align: center;
    line-height: 10px;
    cursor: pointer;
}
.search-body .content input{
    display: inline-block;
    width: 90%;
    height: 40px;
    border: none;
    outline-style: none;
    padding-right: 15px;
    /* border-radius: 0px 30px 30px 0px; */
    background-color: rgba(28, 41, 63, 1);
    color:rgba(255, 255, 255, 1);
}
input::placeholder{
    color: rgba(130, 130, 130, 1);

}

.login{
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.888);
    color:rgba(255, 255, 255, 1);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
    /* position: relative; */
    opacity: 0;
    visibility: hidden;

}

.login.active{
    opacity: 1;
    visibility:visible ;
}
.login form{
  max-width: 500px;
  padding: 50px;
  box-shadow:0 0px 10px  aqua;
  cursor: pointer;
}
.login form:hover{
  max-width: 500px;
  padding: 50px;
  box-shadow:0 0px 10px var(--hover-color);
}
/* searchIntput end */
.login .logincross{
  position: absolute;
  top:30px;
  right: 30px;
}
.login .logincross span{
  display: inline-block;
  height: 30px;
  width:30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  border: 2px solid aqua;
  cursor: pointer;
}
.login .logincross span:hover{
  color: #FF6F61;
  font-size: 20px;
}
/* searchIntput end */
