*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
/*  
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;

}
/*  
  4. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
 width: 100%;
}
/*
  5. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  6. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;

}
ul,ol{
    list-style-type: none;
}
:root{
    --text-color:#11161E;
    --hover-color:#FF6F61;
     --3d-primary-color: #151a32;
        --comon-colot: #fff;
      
        --paragraph-color: #444;
        --2nd-primary-color: #ff5645;
        --background-color: #f1f1f1;
        --bg: #f1f3f4;
        --black: #000;
        --a6aab7: #a6aab7;

}
body{
    font-family: "Josefin Sans", sans-serif;
    color: var(--text-color);
    /* overflow: hidden; */

}


/* pre load start */

.preload {
    width: 100%;
    height: 100vh;
    position: fixed;
     background-color: rgba(0, 0, 0, 0.582); 
    /* background-color:black; */
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25ms;
  }
  .preload .prebox {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-top: 7px solid white;
    color: var(--2nd-primary-color);
    border-right: 5px solid transparent;
    animation: preloader 1s linear infinite forwards;
    position: relative;
  }
  .prebox::after{
    position: absolute;
    content: "aayas";
    font-size: 60px;
    /* color: var(--2nd-primary-color); */
    color: white;

    height:250px;
    /* width: 250px;; */
    /* background-color: aqua; */
    /* color: azure; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @keyframes preloader {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/* pre load end */


/* Nav start */
nav{
    background-color: #fff !important;    
}
nav.active{
    position: fixed;
    transform: translateX(100);
    z-index: 99999;
    width: 100%;
    top: 0;
    /* left: 0; */
    animation: active 0.5s ease-in forwards;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
@keyframes active {
    0%{
    transform: translateY(-100%);
    }
    100%{
    transform: translateY(0%);
    }
}
nav ul li a{
    display: inline-block;
    padding: 0 21px !important;
    color: var(--text-color) !important;
    font-size: 16px !important;
   font-weight: 400 !important;
   line-height: 26px !important;

}
nav ul li a:hover{
    color: var(--hover-color) !important;

}
nav .navbar-toggler span{
    outline-style: none;
    display: inline-block;
    font-size: 20px;
}
nav .navbar-togglers span:active{
    /* border:1px solid var(--hover-color); */
    border: none;
}
nav .nav-icon li a{
    padding: 0 10px !important;
    color: var(--text-color);
    position: relative;
}

nav .nav-icon li:nth-of-type(4) a span{
    display: inline-block;
    color: #fff;
    height: 15px;
    width: 15px;
    background-color: var(--hover-color);
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    font-size: 14px;
}
.offcanvas-body ul li{
 border-radius: 20px;

}
.offcanvas-body ul li:hover{
    background-color: var(--hover-color);
    /* border-radius: 20px; */
    /* width: 100%; */
}
.offcanvas-body {
    position: relative;
    z-index: 9999999;
}
.offcanvas-body .icons{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.offcanvas-body .icons ul{
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 26px !important;
    color: var(--text-color);
    
}
.offcanvas-body .icons ul:hover{
   background-color: var(--hover-color);
}
.offcanvas-body .icons ul li {
   position: relative;
}
.offcanvas-body .icons ul li:nth-of-type(4) a span{
    display: inline-block;
    color: #fff;
    height: 15px;
    width: 15px;
    background-color: var(--hover-color);
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    position: absolute;
    right: -60%;
    font-size: 14px;
}
/* searchInput start */
.search-body{
    /* background-image: url(./background/Mask\ Here.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 0vh;
    background-color: rgba(0, 0, 0, 0.888);
    position: fixed;
    width:100%;
    top:0;
    left: 0;
    visibility: hidden; 
    /* transform: scaleX(0); */
    transition: 0.6s;
    opacity: 0;
    z-index: 10;
}
.search-body.active{
    visibility: visible; 
    height: 100vh;
    /* transform: scaleX(1); */
    opacity: 1;
    
}

.search-body .content{
    max-width: 0px;
    width: 0%;
    display: flex;
    align-items: center;
    /* background-color: wheat; */
    border-radius: 30px;
    padding: 10px;
    background-color: rgba(28, 41, 63, 1);
    color:rgba(255, 255, 255, 1);
    transition: 0.6s;
    

}
.search-body .content.active{
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: wheat; */
    border-radius: 30px;
    padding: 10px;
    background-color: rgba(28, 41, 63, 1);
    color:rgba(255, 255, 255, 1);
    

}
            
.search-body .content #cross_searchInput{
   display: inline-block;
   height: 30px;
   width: 30px;
   font-size: 12px;
   text-align: center;
   line-height: 30px;
   border-radius: 50%;
   
}
.search-body .content #cross_searchInput:hover{
   font-size: 15px;
   color: #FF6F61;
}
.search-body .content:hover{
    outline: 5px solid #becaf6;
}
              
.search-body .content span{
    display: inline-block;
    /* width: 10%; */
    font-size: 25px;
    margin-right: 5px;
    text-align: center;
    line-height: 10px;
    cursor: pointer;
}
.search-body .content input{
    display: inline-block;
    width: 90%;
    height: 40px;
    border: none;
    outline-style: none;
    padding-right: 15px;
    /* border-radius: 0px 30px 30px 0px; */
    background-color: rgba(28, 41, 63, 1);
    color:rgba(255, 255, 255, 1);
}
input::placeholder{
    color: rgba(130, 130, 130, 1);

}

.login{
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.888);
    color:rgba(255, 255, 255, 1);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
    /* position: relative; */
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
    transition: 1s;
}

.login.active{
    opacity: 1;
    visibility:visible ;
}
.login form{
  max-width: 500px;
  padding: 50px;
  box-shadow:0 0px 10px  aqua;
  cursor: pointer;
  background-color: rgba(28, 41, 63, 1);
  color:rgba(255, 255, 255, 1);
  
}
.login form:hover{
  max-width: 500px;
  padding: 50px;
  outline: 5px solid #becaf6;
}
/* searchIntput end */
.login .logincross{
  position: absolute;
  top:30px;
  right: 30px;
}
.login .logincross span{
  display: inline-block;
  height: 30px;
  width:30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  border: 2px solid aqua;
  cursor: pointer;
}
.login .logincross span:hover{
  color: #FF6F61;
  font-size: 20px;
}
/* log in end */
/* nav footer */
#nav_footer{
    position: fixed;
    bottom: 0;
    box-shadow: 0px 0px 30px #888;
    
    width: 100%;
    height: 50px;
    text-align: center;
    z-index: 100;
}
#nav_footer span{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color:var(--hover-color);
    font-size: large;
    color:rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 62px;
    transform: translateY(-50%);
    font-weight: 800;
    cursor: pointer;

}
#nav_footer span:hover{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color:var(--hover-color);
    font-size: 20px;
    color:rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 61px;
    transform: translateY(-50%);
    font-weight: 800;
    cursor: pointer;
    box-shadow: 3px 3px 30px rgb(166, 24, 24) ;

}
/* nav end */

/* bannar start */
#bannar .parent .slider01{
    /* background-image: url(./background/Mask\ here.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    color: #1d1d1d;
    z-index: -1;
    /* width: 100%; */
}
#bannar h5{
    padding:242px 0px 14px 0px;
font-size: 18px;
font-weight: 600;
line-height: 28px;
}
#bannar h2{
   
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
}
    
#bannar p{

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    padding-bottom: 29px;
}    
    
#bannar a{
 display: inline-block;
 width: 196.36px;
height: 56px;
text-align: center;
line-height: 56px;
 background-color: var(--hover-color);
font-size: 18px;
font-weight: 600;
text-align: center;
color: #ffffff;
margin-bottom: 40px;

}    
#bannar a:hover{
 display: inline-block;
 width: 196.36px;
height: 56px;
text-align: center;
line-height: 56px;
 background-color: var(--hover-color);
font-size: 19px;
font-weight: 600;
text-align: center;
color: #ffffff;
margin-bottom: 40px;
box-shadow: 3px 3px 30px rgb(166, 24, 24) ;

}    
#bannar .btnactive{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #FF6F61; */
    bottom: 25%;
    margin-left: 20px;
}
#bannar .btnactive button{
    /* display: flex; */
    color: transparent;
    margin: 0 2.5px;
    border-radius: 5px;
    width: 10px;
    height: 6px;
    border: none;
    background-color:white;
}
#bannar .slick-active  button{
    width: 30px;
    background-color: var(--hover-color);
}
/* bannar end */
#beauty .row{
    margin-top: 100px;
}
#beauty .row .image{
    position: relative;
    display: inline-block;

}
#beauty .row .image .contains{
    position: absolute;
    /* background-color:rgba(0, 0, 0, 0.888,) 0.5; */
    background-color:rgba(17, 22, 30, 0.4);
    transform: scale(0);
    inset: 5%;
    transition: 0.5s;

}
#beauty .row .image .contains h3{
    color:  rgba(255, 255, 255, 1);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    text-align: center;
    color: var(--comon-colot);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#beauty .row .image .contains p{
    
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    text-align: center;
    color: var(--comon-colot);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#beauty .row .image:hover .contains{
    transform: scale(1);
 } 








/* product start */
#product h2{
    padding: 125px 0px 24px 0px;

   font-weight: 700;
   font-size: 36px;
  line-height: 128%;
text-align: center;
color: var(--text-color);
}
#product .arrowsLeft{
    color:#ffffff;
    background-color: rgba(21, 26, 50, 0.5);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11111;
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;

}
#product .arrowsLeft:hover{
    color:var(--2nd-primary-color);
   font-size: 23px;
   background-color: var(--black);


}
#product .arrowsRight{
    color:#ffffff;
    background-color: rgba(21, 26, 50, 0.5);
    
    position: absolute;
    
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11111;
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#product .arrowsRight:hover{
    color:var(--2nd-primary-color);
    font-size: 23px;
  background-color: var(--black);
}


#product .productSlider .sliderPart{
    padding-right: 5px;
}
 #product .productSlider .slick-prev{
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 99999;

} 
#product .productSlider .slick-next{
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1; 

} 

#product .product-Image{
    overflow: hidden;
    position: relative;
   
}
#product .product-Image img{
    width: 100%;
}

#product .product-Image .sale h3{
    position: absolute;
    width: 52px;
    height: 26px;
    
    top: 15px;
    left: 15px;
    color: #fff;
    background-color: #FF6F61;
    transform: rotate(-90deg);
    border-radius: 13px 0px 0px 13px;
    padding: 0px 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
#product .product-Image img:nth-of-type(1){
    position: absolute;
    transition: 1s;
    cursor: pointer;
}
#product .product-Image:hover img:nth-of-type(1){
    transform: scale(1.5);
    opacity: 0;
}
.product-contains{
    text-align: center
}
.product-contains p{
    
font-weight: 400;
font-size: 16px;
line-height: 162%;
color: var(--paragraph-color);
padding-top: 24px;
}
.product-contains h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--text-color);
    padding: 5px 0px 11px 0px;
}
.product-contains span{
 color:#f1f1f1;

  /* background-color: var(--hover-color);  */

}

#product .hoverIcons{
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translateY(-80%);
    opacity: 0;
    transition: 0.7s;
 
}
#product .hoverIcons ul li a{
    width: 36px !important;
    height: 36px !important;
    display:block;
    background-color: #f1f3f4;
    border-radius: 50% !important;
    text-align: center;
    line-height: 36px;
    margin-top: 10px;
   
    
}


#product .hoverIcons li a{
    color: #000;
}
#product .hoverIcons li a:hover{
    background-color: var(--hover-color);
    color: #f1f1f1;
}


#product .sliderPart:hover .hoverIcons{
    transform: translateX(0px);
 opacity: 1;
}
/* product end */

/* cosmaric spa start */
#cosmaticSpa{
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    height: 520px;
    /* width: 1920px; */
    /* object-fit: cover; */
}

#cosmaticSpa h2{

    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    color: var(--comon-colot);
    padding: 103px 0 10px 0;
}
 
#cosmaticSpa p{

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--comon-colot);
    padding-bottom: 30px;
}
 
#cosmaticSpa a{
   display: inline-block;
width: 180px;
height: 56px;
font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 56px;
text-align: center;
color: var(--comon-colot);
border: 1px solid #fff;
}
 
#cosmaticSpa a:hover{
background-color: var(--hover-color);
}
 /* cosmaticSpa end */
 #best-product {
    background-color: #151a32;
    padding-top: 54px;
 }
#best-product .row{
  /* flex-wrap: wrap !important; */
 
}
#best-product .row .test{
    /* width: calc(100%-24px);
    margin-right: 12px; */
  
    /* margin-right: 2px; */
}

 #best-product .product-image{
    /* width: 332px;
     height: 309px;  */

    position: relative;
    object-fit: cover;
    overflow: hidden;
 }
 #best-product .product-image img{
   width: 100%;
   height: auto;
    object-fit: cover;
    display: inline-block;
    

 }

 #best-product .product-image img:nth-of-type(1){
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   height: auto;
   object-fit: cover;
   border: 1px solid salmon;
 transition: 1s;
  
 }
 #best-product .product-image:hover img:nth-of-type(1){
     transform: scale(1.5);
     opacity: 0;
  
 }
 #best-product .product-titles{
    text-align: center;
 }
 #best-product .product-titles span:nth-of-type(1){

font-weight: 400;
font-size: 16px;
line-height: 162%;
color: var(--bg);
padding-top: 24px;
display: inline-block;

 }
 #best-product .product-titles span:nth-of-type(2){

    
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-decoration: line-through;
  color: #bdbdbd;
  margin-left: 10px;
}
#best-product .product-titles p{
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 156%;
text-align: center;
color: var(--text-color);
padding: 5px 0 11px 0;
color: var(--bg);
}

/* icon rating color */
#best-product .product-titles span:nth-of-type(3) i{
    color: #FF6F61;
    
}
#best-product .product-titles span:nth-of-type(4) i{
    color: #FF6F61;
    
}
#best-product .product-titles span:nth-of-type(5) i{
    color: #FF6F61;
    
}
#best-product .product-titles span:nth-of-type(6) i{
    color: #FF6F61;
    
}
/* icon rating color */
#best-product .product-image .products-sales{
    position: absolute;
    width: 52px;
    height: 26px;
    
    top: 15px;
    left: 15px;
    color: #fff;
    background-color: #FF6F61;
    transform: rotate(-90deg);
    border-radius: 13px 0px 0px 13px;
    padding: 0px 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
#best-product .product-image .product-iconss{
    position: absolute;
    top:20px;
    right: 20px;
    opacity: 0;
    transform: translateX(200%);
    transition: 0.7s;
    color:white;
}
#best-product .product-image .product-iconss ul li{
   padding-bottom: 20px;
   width: 36px !important;
   height: 36px !important;
   display:block;
   background-color:#11161E;
   border-radius: 50% !important;
   text-align: center;
   line-height: 36px;
   margin-top: 10px;
   color: white !important;
   
 
}
#best-product .product-image .product-iconss ul li a{
    color: rgb(252, 245, 245) !important;
    
 
}
#best-product .product-image .product-iconss ul li:hover{
  
   background-color:var(--2nd-primary-color);
   color: wheat;
  
 
}

#best-product .product-image:hover .product-iconss{
    opacity: 1;
    transform: translateX(0px);
}

#best-product .btnn{
    margin-top: 70px;
    padding-bottom: 20px;
}
#best-product .btnn a{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height:56px;
    text-align: center;
    color: var(--comon-colot);
    display: inline-block;
    width: 200px;
height: 56px;
background-color: var(--hover-color);
margin-right: 3px;

}
#best-product .btnn a:hover{
  
    color: var(--hover-color);
  
background-color: var(--comon-colot);

}








#dealDays {
    margin: 100px 0px;
  }
  #dealDays .boxTitle h2 {
    color: #11161E;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    margin-bottom: 36px;
  }
  #dealDays .dealBox {
    max-height: 646px;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    margin-top: 68px;
  }
  #dealDays .dealBox .timer {
    width: 100%;
    max-width: 424px;
    height: 70px;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(21, 26, 50, 0.1);
    margin: auto;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #dealDays .dealBox .timer ul {
    text-align: center;
  }
  #dealDays .dealBox .timer ul li {
    display: inline-block;
    margin: 0px 26px;
    position: relative;
  }

  #dealDays .dealBox .timer ul li::after, #dealDays .dealBox .timer ul li::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FF6F61;
    right: -23px;
  }
  #dealDays .dealBox .timer ul li::after {
    top: 10px;
  }
  #dealDays .dealBox .timer ul li::before {
    bottom: 10px;
  }
  #dealDays .dealBox .timer ul li:last-child::after, #dealDays .dealBox .timer ul li:last-child::before {
    display: none;
  }
 

  #dealDays .dealBox-slick .chlid{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 570px;
    height: 485px; 
    display: flex;
    justify-content: space-between;
    
  }

  #dealDays .dealBox-slick .chlid h4{
   
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--text-color);

    padding: 35px 0px 10px 40px;
  }
  .dealBox-slick .chlid h2{
   
    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    color: var(--text-color);
    padding: 0px 0px 16px 40px;
  }
  .dealBox-slick .chlid h3{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--paragraph-color);
    padding: 0px 0px 19px 40px;
  }
  .dealBox-slick .chlid span:nth-of-type(1){
margin-left: 40px;
font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 150%;
color: var(--text-color);
  }
  .dealBox-slick .chlid span:nth-of-type(2){
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-decoration: line-through;
    color: var(--paragraph-color);
  }
  .dealBox-slick .chlid a{
margin-left: 40px;
margin-top: 30px;
width: 160px;
height: 56px;
display: inline-block;
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 56px;
text-align: center;
color: var(--comon-colot);
background: var(--3d-primary-color);
  }
  .dealBox-slick .chlid a:hover{
margin-left: 40px;
margin-top: 30px;
width: 160px;
height: 56px;
display: inline-block;
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 56px;
text-align: center;
color: var(--3d-primary-color);
background:#ffffff;
  }

  .dealBox-slick .btnactive{
    display: flex;
    position: absolute;
    left: 94%;
    top:111%;
    /* right: 50%; */
    /* bottom: 0; */

    transform: translateX(-50%);
    /* background-color: #FF6F61; */
    /* bottom: 25%; */
    /* margin-left: 20px; */
}
.dealBox-slick .btnactive button{
    /* display: flex; */
    color: transparent;
    margin: 0 2.5px;
    border-radius: 5px;
    width: 10px;
    height: 6px;
    border: none;
    background-color: #bdbdbd;;
}
.dealBox-slick .slick-active  button{
    width: 30px;
    background-color: var(--3d-primary-color)
}